<div class="height-80">
  <div class="card password-reset background-image rounded row height-full">
    <div class="col m6 xl8 hide-on-small-only">
    </div>
    <div class="col s12 m6 xl4 opacity-50-dark height-full">
      <%- include('partials/_resetPasswordForm') %>
    </div>
  </div>
</div>