<div class="card event-edit background-image rounded row height-full">
  <div class="col s4 opacity-50-dark height-full">
    <%- include('./edit/_form') %>
    <%- include('./edit/_delete') %>
  </div>
  <div class="col s8 height-full">
  </div>
</div>