<div class="height-80">
  <div class="card event-edit background-image rounded row height-full">
    <div class="col s4 opacity-50-dark height-full">
      <%- include('./partials/_editEventForm') %>
    </div>
    <div class="col s8 height-full">
    </div>
  </div>
</div>