<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main</title>
  <%- include('../partials/header.ejs') %>
</head>

<body>
  <%- include('../partials/navBar') %>

    <h1>This is the landing page for Events.</h1>
    <p>Here are the actions they should be able to do:</p>
    <ul>
      <li>see list of events past and present</li>
      <li>create a new event</li>
      <li>view an event</li>
      <li>edit an event</li>
      <li>delete an event</li>
      <li>sign up for an event</li>
      <li>sign up to bring a dish to an event</li>
      <li>view the dishes they are bringing to an event</li>
    </ul>
</body>