<div class="height-80">
  <div class="card event-show background-image rounded row height-full">
    <div class="col s4 opacity-50-dark height-full">
      <%- include('./show/_details') %>
      <%- include('./show/_navButtons') %>
    </div>
    <div class="col s8 height-full">
    </div>
  </div>
</div>