<div class="height-80">
  <div class="card event-show background-image rounded row height-full">
    <div class="col s4 opacity-50-dark height-full">
      <div class="sidebar-container">
        <div class="sidebar-content">
          <%- include('./partials/_viewEventDetails') %>
        </div>
        <div class="sidebar-nav">
          <%- include('./partials/_viewEventNavButtons') %>
        </div>
      </div>
    </div>
    <div class="col s4 height-full">
    </div>
    <div class="col s4 <% if (event.host._id.toString() === user._id.toString()) { %>opacity-50-dark<% } %> height-full">
      
      <div class="sidebar-container">
        <%- include(rightSidebar) %>
      </div>
    </div>
  </div>
</div>