<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main</title>
  <%- include('../partials/header.ejs') %>
</head>

<body>
  <%- include('../partials/navBar') %>

    <h1>This is the landing page for People.</h1>
    <p>Here are the actions they should be able to do:</p>
    <ul>
      <li>see list of people they've invited to events</li>
      <li>see a list of people who've invited them to events</li>
      <li>See all the people they've added to contacts</li>
      <li>invite people to events</li>
      <li>send messages to other users directly</li>
    </ul>
</body>