<div class="height-80">
  <div class="card account-index background-image rounded row height-full">
    <div class="col s4 opacity-50-dark height-full">
      <%- include('./index/_allEvents') %>
      <%- include('./index/_navButtons') %> 
    </div>
    <div class="col s4 height-full">
    </div>
    <div class="col s4 opacity-50-dark height-full">
      <%- include('./index/_allDishes') %>
    </div>
  </div>
</div>