<div class="card password-reset background-image rounded row height-full">
  <div class="col s8 height-full">
  </div>
  <div class="col s4 opacity-50-dark height-full">
      <%- include('passwordReset/_form') %>
</div>  
