<div class="card registration background-image rounded row height-full">
  <div class="col s8">
  </div>
  <div class="col s4 opacity-50-dark height-full">
    <%- include('./register/_form') %>
  </div>
</div>