<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration</title>
  <%- include('../partials/header') %>
</head>

<body>

  <div class="container mx-auto">
    <div class="card registration rounded row">
      <div class="col s8">
      </div>
      <div class="col s4 opacity-50-dark">
        <%- include('../partials/registerForm') %>
      </div>
    </div>
  </div>
</body>

</html>