<div class="height-80">
  <div class="card account-index background-image rounded row height-full">

    <div class="col s4 opacity-50-dark height-full">
      <div class="sidebar-container">
        <div class="sidebar-header">
          <h4 class="margin-5"><%= user.fullName %></h4>
        </div>
        <div class="sidebar-content">
        </div>
        <div class="sidebar-nav">
          <div class="col s12">
            <a href="/account/edit" class="btn waves-effect waves-light light-blue darken-2">
              Edit <i class="material-icons right">edit</i>
            </a>
            <button class="waves-effect waves-light btn red lighten-1" type="button" onclick="confirmAndDelete('/account/<%= user._id %>?_method=DELETE')">
              Delete <i class="material-icons right">delete</i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col s4 height-full">
    </div>

    <div class="col s4 opacity-50-dark height-full">
      <%- include('./index/_allDishes') %>
    </div>
  </div>
</div>

function confirmAndDelete(actionUrl) {
  if (confirm('Are you sure you want to delete this profile? This action cannot be undone.')) {
    const form = document.createElement('form');
    form.method = 'POST';
    form.action = actionUrl;
    const methodInput = document.createElement('input');
    methodInput.type = 'hidden';
    methodInput.name = '_method';
    methodInput.value = 'DELETE';
    form.appendChild(methodInput);
    document.body.appendChild(form);
    form.submit();
  }
}