<div class="container">
    <% if (error.length> 0) { %>
    <div>
      <%= error[0] %>
    </div>
    <% } %>
    <% if (success.length> 0) { %>
    <div>
      <%= success[0] %>
    </div>
    <% } %>
  </div>