<h4 class="margin-0">Other Dishes</h4>
<hr>
<% if (otherDishes.length > 0) { %>
<ul>
  <% otherDishes.forEach(function(dish) { %>
  <li>
    <a href="/dishes/<%= dish.id %>"><%= dish.name %></a>
  </li>
  <% }) %>
</ul>
<% } %>