<div class="card rounded-top-left z-depth-2 padding-0 margin-0">
  <div class="card-image waves-effect waves-block waves-light rounded-top-left">  
    <img src="/images/pablo-merchan-montes-GFW3dJRiMsQ-unsplash.jpg" alt="" class="activator">
  </div>

  <div class="card-content light-blue darken-3">
    <span class="card-title activator grey-text text-lighten-4">
      Learn more
      <i class="material-icons right">more_vert</i>
    </span>
  </div>

  <div class="card-reveal background-image bg-learn-more no-padding height-full">
    <div class="opacity-learn-more padding-20">
      <span class="card-title grey-text text-darken-4">
        <i class="material-icons right">close</i>
      </span>
      <div class="row learn-more">
        <div class="col s10 grey lighten-3 rounded about-1 about-image z-depth-2">
          <div class="row height-full margin-0">
            <div class="col s4 offset-s8 opacity-50 height-full rounded-right">
              <p>CrowdCater is the go to solution for planning dishes for a party, potluck, gathering, or holiday.</p>
            </div>
          </div>
        </div>
        <div class="col s2"></div>
      </div>
      <div class="row learn-more">
        <div class="col s10 grey lighten-3 rounded about-2 about-image z-depth-2">
          <div class="row height-full margin-0">
            <div class="col s4 opacity-50 height-full rounded-left">
              <p>Simply create an event, add dishes, and share the link with your friends. They can then sign up to bring a dish to the event.</p>
            </div>
            <div class="col s8"></div>
          </div>
        </div>
      </div>
      <div class="row learn-more">
        <div class="col s10 grey lighten-3 rounded about-3 about-image z-depth-2">
          <div class="row height-full margin-0">
            <div class="col s4 offset-s8 opacity-50 height-full rounded-right">
              <p>To create an event, sign up today.</p>
              <p>To view an event you're attending, use the link provided by the host.</p>
            </div>
          </div>
        </div>
        <div class="col s2"> 
        </div>
      </div>
    </div>
  </div>
</div>