<h4 class="margin-5">Your Dishes</h4>
<% if (user.dishes.length> 0) { %>  
<hr class="margin-0">
<% user.dishes.forEach(function(dish) { %>
<div>
  <a href="/dishes/<%= dish._id %>"><%= dish.name %></a>
</div>
<hr class="margin-0">
<% }) %>
<% } else { %>
<h4>No Dishes</h4>
<% } %>
<h4 class="margin-5">Favorites</h4>
<% if (user.favoriteDishes.length> 0) { %>
<hr class="margin-0">
<% user.favoriteDishes.forEach(function(dish) { %>
<div>
  <a href="/dishes/<%= dish._id %>"><%= dish.name %></a>
</div>
<% }) %>
<% } else { %>
<h4>No Favorite Dishes</h4>
<% } %>
<a href="/dishes/" class="waves-effect waves-light btn">Browse</a>
<a href="/dishes/new" class="waves-effect waves-light btn">Create</a>