<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot password</title>
    <%- include('../partials/header.ejs') %>
</head>

<body>
    <div class="container mx-auto row ">
        <div class="col s8 no-padding">
            <div class="card rounded-top-left z-depth-2">
                <form action="/forgot-password" method="POST" class="space-y-4">
                    <div class="row">
                        <div class="input-field col s8 offset-s1">
                            <input type="email" name="email" id="email" required />
                            <label for="email">E-Mail</label>
                        </div>
                    </div>
                    <div class="col s2"></div>
                    <div class="col s12">
                        <button type="submit" class="waves-effect waves-light btn green">Send Reset Email</button>
                        <hr>
                    </div>
                </form>
                <div class="col s12">
                    <a href="/login">Login</a>
                    <span>|</span>
                    <a href="/register">Register</a>
                </div>
            </div>
        </div>
    </div>
</body>
