.rounded {
    border-radius: 25px;
}
.rounded-top {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.rounded-top-left {
    border-top-left-radius: 25px;
}
.rounded-top-right {
    border-top-right-radius: 25px;
}
.rounded-left {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.rounded-right {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.no-padding {
    padding: 0;
}

.row {
    display: flex;
    align-items: flex-start;
    font-weight: 500;
}

.height-full {
    height: 100%;
}
.height-80 {
    height: 80vh;
}

.about-1 {
    background-image: url("images/evelyn-semenyuk-IfG34eJKhsE-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    overflow: hidden; 
}

.about-2 {
    background-image: url("images/eaters-collective-12eHC6FxPyg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    overflow: hidden; 
}
.about-3 {
    background-image: url("images/dan-gold-4_jhDO54BYg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    overflow: hidden; 
}
.registration {
    background-image: url("images/jenn-kosar-67-1iw9rhzE-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden; 
}
.lost-password {
    background-image: url("images/siddhesh-mangela-iKWmeWDw6qc-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden; 
}
.account-index {
    background-image: url("images/dane-deaner-l2eTNVrendQ-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden; 
    height: 100%;
}
.account-dashboard {
    height: 95%;
    padding: 20px;
}
.account-dashboard > h2 {
    margin-top: 10px;
}
.new-dish, .new-event {
    background-image: url("images/alyson-mcphee-yWG-ndhxvqY-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden; 
}
.opacity-50 {
    background-color: rgba(250, 250, 250, 0.5);
}
.opacity-50-dark {
    background-color: rgba(250, 250, 250, 0.8);
}
.bg-woodgrain {
    background-image: url("images/annie-spratt-L6GydBHMVGQ-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.error404 {
    padding: 20px;
}

.main-card {
    height: 80vh;
}

textarea.materialize-textarea {
    height: 12rem;
    resize: none;
}

.checkbox-group input[type="checkbox"]:checked + span {
    color: #4CAF50;
    font-weight: 600;
}

.dish-name, .event-name {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    font-size: clamp(1.2rem, 3vw, 2rem);
    padding: 0 10px;
    margin: 0;
    font-weight: 600;
}
.dish-creator-name, .event-creator-name {
    display: block;
    text-align: right;
    font-size: .75rem;
    padding: 0 20px;
}


.repsonsive-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    overflow: hidden;
}

.bold {
    font-weight: 700;
}

.btn {
    margin-bottom: 10px;
}

.login-title {
    font-weight: 600;
    margin-bottom: 0;
}
.login-subtitle {
    font-weight: 500;
    text-align: right;
    margin-top: -15px;
    color:#039be5;
}

.calendar-icon {
    display: inline-block;
    width: 60px;
    height: 75px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

.calendar-month {
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    padding: 3px;
    border-bottom: 1px solid #ccc;
}

.calendar-day {
    font-size: 2rem;
    font-weight: bold;
    margin: 3px 0;
}

.calendar-year {
    font-size: 0.8rem;
    color: #555;
}
