<div class="card rounded-top-left row height-full">
  <div class="col s8 no-padding height-full">
    <%- include('./partials/_learnMore') %>
  </div>
  <div class="col s4 height-full">
    <%- include('./partials/_loginForm') %>
  </div>
</div>