<div class="card password-reset background-image rounded row height-full">
  <div class="col m6 xl8 no-padding height-full hide-on-small-only">
    <%- include('./partials/_learnMore') %>
  </div>
  <div class="col s12 m6 xl4 height-full">
    <%- include('./partials/_loginForm') %>
  </div>
</div>
