<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrowdCater</title>
    <%- include('../partials/header.ejs') %>
</head>

<body>
    <div class="container mx-auto row ">
        <div class="col s8 no-padding">
            <div class="card rounded-top-left z-depth-2">
                <div class="card-image waves-effect waves-block waves-light center-align rounded-top-left">
                    <img class="activator responsive-img" src="images/pablo-merchan-montes-GFW3dJRiMsQ-unsplash.jpg">
                </div>
                <div class="card-content light-blue darken-3">
                    <span class="card-title activator grey-text text-lighten-4">
                        Learn more
                        <i class="material-icons right">more_vert</i>
                    </span>
                </div>
                <div class="card-reveal bg-woodgrain no-padding">
                <div class="opacity-50" style="padding:20px;">
                    <span class="card-title grey-text text-darken-4">
                        <i class="material-icons right">close</i>
                    </span>
                    <div class="row">
                        <div class="col s10 grey lighten-3 rounded about-1 z-depth-2">
                            <div class="row full-height">
                                <div class="col s4 offset-s8 opacity-50 full-height">
                                    <p>CrowdCater is the go to solution for planning dishes for a party, potluck,
                                        gathering,
                                        or
                                        holiday.
                                       </div>
                            </div>
                        </div>
                        <div class="col s2"></div>
                    </div>
                    <div class="row">
                        <div class="col s10 grey lighten-3 rounded about-2 z-depth-2">
                            <div class="row full-height">
                                <div class="col s4 full-height opacity-50">
                                    <p>Simply create an event, add dishes, and share the link with your friends.
                                        They can
                                        then
                                        sign up to bring a dish to the event.
                                    </p>
                                    </div>
                                <div class="col s8"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s10 grey lighten-3 rounded about-3 z-depth-2">
                            <div class="row full-height">
                                <div class="col s4 offset-s8 opacity-50 full-height">
                                    <p>To create an event, sign up today.</p>
                                    <p>To view an event you're attending, use the link provided by the host.</p>
                                
                                       </div>
                            </div>
                        </div>
                        <div class="col s2"></div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="col s4">
            
 <%- include('../partials/loginForm') %>
        </div>
    </div>
</body>


