<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CrowdCater</title>
  <%- include('../partials/header') %>
</head>

<body>
  <div class="container mx-auto row height-80">
    <div class="col s8 no-padding height-full">
      <%- include('./index/_learnMore') %>
    </div>
    <div class="col s4 opacity-50 height-full">
      <%- include('../partials/loginForm') %>
    </div>
  </div>

</body>
</html>