  <div class="height-80">
    <div class="card new-dish rounded row height-full">
      <div class="col s4 opacity-50-dark height-full">
        <%- include('./partials/_editDishForm') %>
      </div>
      <div class="col s8 height-full">
      </div>
    </div>
  </div>
