  <div class="height-80">
    <div class="card dishes-index background-image rounded row height-full">
      <div class="col s4 opacity-50-dark height-full">
        <div class="sidebar-container">
          <div class="sidebar-content">
            <%- include('./partials/_userDishes') %>
          </div>
          <div class="sidebar-nav">
            <%- include('./partials/_navButtons') %> 
          </div>
        </div>         
      </div>
      <div class="col s4 height-full">
      </div>
      <div class="col s4 opacity-50-dark height-full">
        <div class="sidebar-container">
          <div class="sidebar-content">
            <%- include('./partials/_allDishes') %>
          </div>
        </div>          
      </div>
    </div>  
  </div>  
