<div class="height-80">
  <div class="card dish-new background-image rounded row height-full">
    <div class="col s4 opacity-50-dark height-full">
      <%- include('./partials/_newDishForm.ejs') %>
    </div>
    <div class="col s8 height-full">
    </div>
  </div>
</div>