<div class="height-80">
  <div class="card dish-show background-image rounded row height-full">
    <div class="col s4 opacity-50-dark height-full">
      <div class="sidebar-container">
        <div class="sidebar-content">
          <%- include('./partials/_viewDishDetails') %>
        </div>
        <div class="sidebar-nav">
          <%- include('./partials/_viewDishNavButtons') %>
        </div>
      </div>
    </div>
    <div class="col s8 height-full">
    </div>
  </div>
</div>