<h1>Password Reset E-Mail Sent</h1>
<p>Please check your E-Mail for a message containing a link to reset your password.</p>
<p>If you do not receive an E-Mail, please check your spam folder.</p>
<p>If you still do not receive an E-Mail, please try again <a href="password/">HERE</a></
<div class="col s12">
  Already have an account? <a href="/">Log in</a>
  <br>
  No account? <a href="/signup">Sign up today</a>
</div>