<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main</title>
  <%- include('../partials/header.ejs') %>
</head>

<body>
  <%- include('../partials/navBar') %>

<h1>This is the landing page for a items.</h1>                          
<p>Here are the actions they should be able to do:</p>
<ul>
  <li>see list of items/dishes organized by categories</li>
  <li>create a new item/dish</li>
  <li>view an item/dish</li>
  <li>edit an item/dish</li>
  <li>delete an item/dish</li>
  <li> view dishes they've brought in the past</li>
</ul>
</body>