<div class="height-80">
  <div class="card users-index background-image rounded row height-full">
    <div class="col s4 opacity-50-dark height-full padding-0">
      <div class="sidebar-container">
        <div class="sidebar-header">
          <h4 class="margin-5">Users</h4>
        </div>
        <div class="sidebar-content">
          <%- include('./partials/_allUsers') %>
        </div>
        <div class="sidebar-nav">
          <%- include('./partials/_navButtons') %>
        </div>
      </div>
    </div>

    <div class="col s4">
    </div>

    <div class="col s4 opacity-50-dark height-full">
    </div>
  </div>
</div>