<div class="height-80">
  <div class="card account-index background-image rounded row height-full">
    <div class="col s4 opacity-50-dark height-full">
      <div class="sidebar-container">
        <div class="sidebar-header">
          <%- include('partials/_profileLeftHeader') %>
        </div>
        <div class="sidebar-content">
          <%- include('partials/_profileLeftContent') %>
        </div>
        <div class="sidebar-nav">
          <%- include('partials/_profileLeftNavButtons') %>
        </div>
      </div>
    </div>
    <div class="col s4 height-full">
    </div>
    <div class="col s4 opacity-50-dark height-full">
      <%- include('../dishes/partials/_userDishes') %>
    </div>
  </div>
</div>
  